---
import '../styles/global.scss';

// Base domain URL without trailing slash
const domainBaseURL = 'https://harigo.me';
const ogImageUrl    = 'https://harigo.me/img/meta.png';

// Website publisher & region
const authorPublisher   = 'Harigo';
const geoRegion         = 'JP-TOK';

// SEO title, description and keywords
const seoTitle          = 'harigo.me | Harigo | Full Stack Developer';
const seoDescription    = 'Passionate web developer focused on creating clean, efficient, and scalable web applications with the help of AI. Specialized in TypeScript, Python and Vue.js';
const seoKeywords       = 'Full Stack Developer, Harigo, Tokyo, Typescript, Astro';

// Twitter card data
// const twitter = {
//     title:          seoTitle,
//     description:    seoDescription,
//     image:          ogImageUrl,
//     site:           '@harigo_me',
//     creator:        '@harigo_me'
// };


---

<!doctype html>
<html lang="en" class="bg-black text-gray-100 font-mono">

    <head>

        <!-- Crawler & Robots -->
        <meta name="robots" content="index, follow, noodp, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
        <meta name="revisit-after" content="7 days" />
        <meta name="revisit" content="after 7 days" />

        <!-- Start: Meta-Tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="content-type"         content="text/html; charset=UTF-8">
        <meta http-equiv="Pragma"               content="cache" />
        <meta http-equiv="X-UA-Compatible"      content="IE=edge">
        <meta name="viewport"                   content="width=device-width, initial-scale=1">
        <!-- End: Meta-Tags -->

        <!-- Start: DNS prefetch and preconnect -->
        <!-- <link rel="preload" as="image" href="/img/logo.svg" /> -->
        <link rel="preconnect" href="https://brain.papersend.io" />
        <!-- End: DNS prefetch and preconnect -->

        <!-- Start: Theming and Favicons -->
        <link rel="icon" type="image/svg+xml" crossorigin="anonymous" href="/img/logo.png" />
        <!-- <link rel="alternate icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="alternate icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
        <link rel="manifest" href="/img/favicon/site.webmanifest"> -->
        <!-- End: Theming and Favicons -->

        <!-- Start: Misc meta tags -->
        <link rel="sitemap"                     href="/sitemap-index.xml" />
        <link rel="canonical"                   href={Astro.url} />

        <meta name="geo.region"                 content={geoRegion}>
        <meta name="author"                     content={authorPublisher}>
        <meta name="publisher"                  content={authorPublisher}>
        <meta name="copyright"                  content={authorPublisher}>
        <!-- End: Misc meta tags -->

        <!-- Start: Twitter card -->
        <!-- <meta name="twitter:card"               content="summary_large_image">
        <meta name="twitter:title"              content={twitter.title}>
        <meta name="twitter:description"        content={twitter.description}>
        <meta name="twitter:image"              content={twitter.image}>
        <meta name="twitter:site"               content={twitter.site}>
        <meta name="twitter:creator"            content={twitter.creator}> -->
        <!-- End: Twitter card -->

        <!-- Title & Description -->
        <title>{seoTitle}</title>
        <meta name="description" content={seoDescription}>
        <meta name="abstract"    content={seoDescription}>
        <meta name="keywords"    content={seoKeywords}>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WX0M47C15W"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-WX0M47C15W');
        </script>

    </head>

    <body class="min-h-[100vh] flex items-center justify-center p-4">
        <slot />
    </body>

</html>